<div class="container">
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-5 mx-auto text-center form">
            <form onsubmit='return onSubmitNewUser(this)' class="contact-form justify-content-center" id="newUserForm" name="NewUserForm"
                  method="POST">
                <label for="username">username</label>
                <input class="form-control-sm" type="text" id="username" name="username">
                <label for="firstName">First name</label>
                <input class="form-control-sm" type="text" id="firstName" name="firstName">
                <label for="lastName">Last Name</label>
                <input class="form-control-sm" type="text" id="lastName" name="lastName">
                <label for="age">Age</label>
                <input class="form-control-sm" type="text" id="age" name="age">
                <label for="email">email</label>
                <input class="form-control-sm" type="text" id="email" name="email">
                <label for="password">password</label>
                <input class="form-control-sm" type="text" id="password" name="password">
                <label for="RoleAdminCheckNew">Admin</label>
                <input type="checkbox" id="RoleAdminCheckNew" name="[ROLE_ADMIN]">
                <label for="RoleUserCheckNew">User</label>
                <input type="checkbox" id="RoleUserCheckNew" name="[ROLE_USER]">
                <button class="btn btn-primary justify-content-center mx-auto" type="submit">Submit form</button>
            </form>
        </div>
    </div>
</div>